*.swo
*.swp
.DS_Store
.sync
.syntastic_cpp_config

# platformio (testing)
.pioenvs
.piolibdeps
platformio.ini
.tests

# visual studio code
.vscode

.development
src/src.ino
src/config.h
examples/adafruitio_00_dev_test/*
