*.swo
*.swp
.DS_Store
.sync
.syntastic_cpp_config

# platformio (testing)
.pioenvs
.piolibdeps
platformio.ini
.tests

# visual studio code
.vscode

# Our handy .gitignore for automation ease
Doxyfile*
doxygen_sqlite3.db
html