/************************ Adafruit IO Config *******************************/

#define IO_USERNAME    "${io_username}"
#define IO_KEY         "${io_key}"

/******************************* WIFI **************************************/

#define WIFI_SSID      "${wifi_ssid}"
#define WIFI_PASS      "${wifi_pass}"

<%
if (["ESP8266", "M0_WINC1500", "WICED", "MKR1000"].contains(platform)) {
  println '#include "AdafruitIO_WiFi.h"'
  println 'AdafruitIO_WiFi io(IO_USERNAME, IO_KEY, WIFI_SSID, WIFI_PASS);'
}
%>

/******************************* FONA **************************************/

<%
if (["FONA_32U4"].contains(platform)) {
  println '#include "AdafruitIO_FONA.h"'
  println 'AdafruitIO_FONA io(IO_USERNAME, IO_KEY);'
}
%>

/**************************** ETHERNET ************************************/

<%
if (["M0_ETHERNETWING"].contains(platform)) {
  println '#include "AdafruitIO_Ethernet.h"'
  println 'AdafruitIO_Ethernet io(IO_USERNAME, IO_KEY);'
}
%>
